<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
</head>
<body class="mox">
<div class="container-fluid">
    <div class="jumbotron mox">
        <h1 class="display-4">WELCOME TO OUR WEBSITE</h1>
        <p class="hox">The best and most beautiful things in the world cannot be seen or even touched - they must be felt with the heart. Helen Keller.</p>
    </div>
</div>
<div class="container hox mox lox">
    <p>Your order has been placed</p>
    <p>We will connect with you soon</p>
    <p>Have a happy and safe journey</p>
</div>
</body>
</html>