#bb{
    background-color: chartreuse;
}
.box{
    background-color:chartreuse;
    text-align: center;
    padding: 10px;
}
.cox{
    font-size: x-large;
    text-align: center;
}
.dox
{
    height:75%;
    width:100%;
}
.fox{
    text-align: center;
    font-family: Arial;
    background-color:lightblue;
}
.gox{
    text-align: center;
    background-color: chartreuse;
}
.hox
{
    font-size: x-large;
}
.kox{
    font-size: large;
}
.mox{
    background-color: cyan;
}
.lox{
    text-align: center;
}
.xox{
    background-color:darkslateblue;
    text-align: center;
    padding: 10px;
}
#dd{
    background-color: darkslateblue;
}
