<!DOCTYPE html>
{% extends 'travel_app/header.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>website</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
</head>
<body>
{% block content %}
<div class="container-fluid gox">
    <h1>HOTEL MAYFAIR</h1>
    <p>Hotel mayfair is a 5 star hotel.it was established in 1990.The founder of hotel mayfair is dr. sutrakant tripathy.</p>
    <p>He was a visionary person.He always wants to give comfort to the people.So he decided to design a well high class hotel with a affordable price</p>
    <p>Now we are in top ten hotel in india.We are here notonly to gain money butalso to give high class hotel facility to people.</p>
    <p>We have multiple branches through out the india .we are in Hyderbad,Bhubaneswar,Bangalore,Mumbai,Kolkatta,Chennai,Indore and Delhi.</p>
</div>
{% endblock %}
</body>
</html>