<!DOCTYPE html>
{% extends 'travel_app/header.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
    <link rel="icon" href="{% static 'images/sea.jpg' %}">
</head>
<body>
{% block content %}
    <div class="container">
        <h1 class="kox" align="center">{{ user|title }}</h1>
        <h1 class="kox" align="center">{{ user.email }}</h1>
        <h1 class="kox" align="center">click here to add images</h1>
    </div>
{% endblock %}
</body>
</html>