<!DOCTYPE html>
{% extends 'travel_app/header.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
</head>
<body>
{% block content %}
<div class="container">
    <form class="form-group" method="post" action="booking">
        {% csrf_token %}
        <div>
            <label for="id1">Username</label>
            <input class="form-control" type="text" id="id1" placeholder="Enter your User Name" name="user" required>
        </div>
        <div>
            <label for="id1">Password</label>
            <input class="form-control" type="text" id="id1" placeholder="Enter your password" name="password" required>
        </div>
        <div>
            <label for="id2">Phoneno</label>
            <input class="form-control" type="text" id="id2" placeholder="Enter your phone no" name="phoneno" required>
        </div>
        <div>
            <label for="id3">Select sity</label>
            <select class="custom-select form-control" id="id3">
                <option value="0">Select city:</option>
                <option value="1">BHUBANESWAR</option>
                <option value="2">HYDERBAD</option>
                <option value="3">BANGALORE</option>
                <option value="4">CHENNAI</option>
                <option value="5">MUMBAI</option>
                <option value="6">DELHI</option>
            </select>
        </div>
        <div>
            <label for="id4">No of room</label>
            <input class="form-control" type="number" id="id4" placeholder="no of rooms" name="roomvalue" required>
        </div>
        <div>
            <label for="id4">Date of issue</label>
            <input class="form-control" type="datetime-local" id="id4" placeholder="date" name="date_issue" required>
        </div>
        <div>
            <label for="id4">COUPON CODE</label>
            <input class="form-control" type="text" id="id4" name="coupon" placeholder="Enter coupon code" required>
        </div>
        <div>
            <input type="submit"></div>
    </form>
</div>
{% endblock %}
</body>
</html>