<!DOCTYPE html>
{% extends 'travel_app/header.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
</head>
<body>
{% block content %}
    <div class="container-fluid gox" >
        <p class="hox">Thank you for response</p>
        <a class="kox" href="http://127.0.0.1:8000/">CLICK HERE FOR HOME PAGE</a>
    </div>
{% endblock %}
</body>
</html>