<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
{% endblock %}
<div class="container-fluid">
    <P class="gox hox"><strong>FOLLOW US ON FACEBOOK,TWITTER,INSTAGRAM AND YOUTUBE</strong></P>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 lox"><a href="https://fb.com"><button type="submit" class="btn-primary">FACEBOOK</button></a></div>
        <div class="col-sm-2 lox"><a href="https://twitter.com"><button type="submit" class="btn-success">TWITTER</button></a></div>
        <div class="col-sm-2 lox"><a href="https://instagram.com"><button type="submit" class="btn-danger">INSTAGRAM</button></a></div>
        <div class="col-sm-2 lox"><a href="https://gmail.com"><button type="submit" class="btn-light">EMAIL</button></a></div>
        <div class="col-sm-2 lox"><a href="feedback"><button type="submit" class="btn-info">FEEDBACK</button></a></div>
        <div class="col-sm-2 lox"><a href="https://youtube.com"><button type="submit" class="btn-dark">YOUTUBE</button></a></div>
    </div>
</div>
</body>
</html>