<!DOCTYPE html>
{% extends 'travel_app/header.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
</head>
<body>
{%  block content %}
    <div class="container" align="center">
        <p class="hox">Welcome {{ user|title }},No need to register again.just login</p>
        <a href="login" class="hox">Click here for login</a><br>
        <a href="http://127.0.0.1:8000" class="hox">Click here for Home page</a>
    </div>
{% endblock %}
</body>
</html>