<!DOCTYPE html>
{% extends 'travel_app/header.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
</head>
<body>
{% block content %}
    <div class="container" align="center">
        <p class="hox">Password and Reenterpassword donot match</p>
        <p class="hox">Go to signup page again</p>
        <a href="signup" class="hox">click here to go to signup page</a>
    </div>
{% endblock %}
</body>
</html>